* text=auto !eol
/Makefile.am -text
/apertium-gle-eng.eng-gle.lrx -text
/apertium-gle-eng.eng-gle.rlx -text
/apertium-gle-eng.eng-gle.t1x -text
/apertium-gle-eng.eng-gle.t2x -text
/apertium-gle-eng.eng-gle.t3x -text
/apertium-gle-eng.eng.acx -text
/apertium-gle-eng.eng.dix -text
/apertium-gle-eng.gle-eng.dix -text
/apertium-gle-eng.gle-eng.lrx -text
/apertium-gle-eng.gle-eng.rlx -text
/apertium-gle-eng.gle-eng.t1x -text
/apertium-gle-eng.gle-eng.t2x -text
/apertium-gle-eng.gle-eng.t3x -text
/apertium-gle-eng.gle.dix -text
/autogen.sh -text
/configure.ac -text
dev/fgb.eng-gle.txt -text
dev/gov-dept-en -text
dev/gov-dept-ga -text
dev/marker_words.ga -text
dev/story.en.txt -text
dev/story.ga.txt -text
dev/tools/evaluation/evaltool -text
dev/tools/irishionary/data/irishionary.com.ga-en.pdf -text
dev/tools/irishionary/irishionary-pos.txt -text
dev/tools/irishionary/irishionary.pl -text
dev/tools/irishionary/irishionary.sh -text
dev/tools/irishionary/lib/DicEntry.pm -text
dev/tools/irishionary/output/irishionary_2010-01-27_18-09.csv -text
/eng-gle.prob -text
/gle-eng.prob -text
/modes.xml -text
